@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&family=Forum&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #104c53;
}

nav {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__firstChildContainer {
  list-style: none;
  min-width: fit-content;
}

.nav__firstChildContainer .allBlue {
  color: white;
}

.allBlue {
  font-family: "Inria Serif", serif;
  font-size: 20px;
}

.star {
  color: rgb(249, 208, 4);
}

.nav__linksContainer {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav li:first-child {
  margin-right: auto;
}

.nav__links:first-child {
  margin-right: auto;
}

.nav__links {
  min-width: fit-content;
}

.nav-links__txt {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

.nav-links__txt:hover {
  transition: 500ms;
  color: rgb(189, 181, 181);
}

.nav__search {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 2rem;
}

.nav-links__txt .bi {
  color: white;
}

.nav-links__txt .bi:hover {
  transition: 500ms;
  color: rgb(189, 181, 181);
}

/*sideBar start*/
.sideBar {
  display: none;
}
/*sideBar end*/

/* Header end */

/*headerSection start*/

.headerSection {
  height: 100vh;
  width: 100%;
  background-image: url(/Public/HotelImages/header\ img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.header-Txt-Title {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.header-Txt-Title .allBlue,
.headerTitle,
.headerTxt {
  color: white;
}

.headerTitle {
  font-size: 50px;
  font-family: "Inria Serif", sans-serif;
}

.headerTxt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 600px;
}

/*headerSection end*/
